@import "~bootstrap/scss/bootstrap.scss";

html{
    box-sizing: border-box;
}

.game{
    height: 50vh;
    width: 50vh;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.topLeft{
    border-width: 2px;
    border-style: solid;
    border-left: none;
    border-top: none;
}

.topCenter{
    border-width: 2px;
    border-style: solid;
    border-right: none;
    border-left: none;
    border-top: none;
}

.topRight{
    border-width: 2px;
    border-style: solid;
    border-right: none;
    border-top: none;
}

.middleLeft{    
    border-width: 2px;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-left:none;
}

.middleCenter{

}

.middleRight{
    border-width: 2px;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-right:none;

}

.bottomLeft{
    border-width: 2px;
    border-style: solid;
    border-left: none;
    border-bottom: none;

}

.bottomCenter{
    border-width: 2px;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-bottom: none;

}

.bottomRight{
    border-width: 2px;
    border-style: solid;
    border-right: none;
    border-bottom: none;
    
    
}

.x{

}

.o{
    
}


